# Credenciais — NUNCA commitar
.env

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
.dbt/profiles.yml

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db
